<!DOCTYPE html>
<html>
    <head>
        <title><%= @title %></title>
        <link rel="stylesheet" type="text/css" href="/styles.css">
        <link rel="stylesheet" type="text/css" href="/styles2.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
        <script src="/cart.js" defer></script>
    </head>
    <body>
        <header>
            <img src="/images/logo.png" alt="Boaty Shop Logo" class="logo">
            <h1>Boaty Shop</h1>
            <p>Your one-stop shop for watercraft body customizations!</p>
            <div class="cart-container">
                <i class="fas fa-shopping-cart"></i>
                <span id="cart-count">0</span>
            </div>
        </header>
        <div class="container">
            <div class="watercraft">
                <a href="/jetski" class="watercraft-link">
                    <div class="image-container">
                        <img src="/images/jetski.png" alt="Jetski">
                        <div class="title">Jetskis</div>
                    </div>
                    <p>High-performance body kits.</p>
                </a>
            </div>
            <div class="watercraft">
                <a href="/yacht" class="watercraft-link">
                    <div class="image-container">
                        <img src="/images/yacht.png" alt="Yacht">
                        <div class="title">Yachts</div>
                    </div>
                    <p>Luxurious, bespoke customizations.</p>
                </a>
            </div>
            <div class="watercraft">
                <a href="/canoe" class="watercraft-link">
                    <div class="image-container">
                        <img src="/images/canoe.png" alt="Canoe">
                        <div class="title">Canoes</div>
                    </div>
                    <p>Durable body work.</p>
                </a>
            </div>
            <div class="watercraft">
                <a href="/submarine" class="watercraft-link">
                    <div class="image-container">
                        <img src="/images/submarine.png" alt="Submarine">
                        <div class="title">Submarines</div>
                    </div>
                    <p>Explore the depths in style.</p>
                </a>
            </div>
            <div class="watercraft">
                <a href="/sailboat" class="watercraft-link">
                    <div class="image-container">
                        <img src="/images/sailboat.png" alt="Sailboat">
                        <div class="title">Sailboats</div>
                    </div>
                    <p>Improve aerodynamics and aesthetics.</p>
                </a>
            </div>
        </div>
        <footer>
            <p>&copy; 2025 The Boaty Shop</p>
        </footer>
    </body>
</html>
